<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="language">
            <h2><span>Language</span> {{language.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{language.title}}</span>
                </dd>
                <dt><span>Unit</span></dt>
                <dd>
                    <span *ngFor="let unit of language.units; let last = last">
                        <a [routerLink]="['/unit', unit?.id, 'view' ]">{{unit.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/language', language.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
