<div>
    <h2 id="page-heading">
        <span>Expeditions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-expedition" [routerLink]="['/expedition/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Expedition
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="expeditions?.length === 0">
        <span>No expeditions found</span>
    </div>
    <div class="table-responsive" *ngIf="expeditions?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span>ID</span></th>
            <th scope="col" ><span>Complexity</span></th>
            <th scope="col" ><span>Dispatch Time</span></th>
            <th scope="col" ><span>Dead Line</span></th>
            <th scope="col" ><span>Rate</span></th>
            <th scope="col" ><span>Unit</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let expedition of expeditions ;trackBy: trackId">
                <td><a [routerLink]="['/expedition', expedition.id, 'view' ]">{{expedition.id}}</a></td>
                <td>{{expedition.complexity}}</td>
                <td>{{expedition.dispatchTime | date:'medium'}}</td>
                <td>{{expedition.deadLine | date:'mediumDate'}}</td>
                <td>{{expedition.rate}}</td>
                <td>
                    <div *ngIf="expedition.unit">
                        <a [routerLink]="['/unit', expedition.unit?.id, 'view' ]" >{{expedition.unit?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/expedition', expedition.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/expedition', expedition.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(expedition)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
